{% extends "base.html" %}

{% block contents %}

<!DOCTYPE html>
<html lang="ja">

<h2 class="h2 p-2">{{ user }}でログイン中</h2>

<p><a href="{% url 'logout' %}">ログアウトする</a></p>
<p><a href="{% url 'password_change' %}">パスワードの変更</a></p>
<p><a href="{% url 'password_reset' %}">パスワードを忘れた場合</a></p>

<div>
    {% if contents.notExist %}
    <form method="POST" action="">
        {% csrf_token %}
        <table class="table">
            <tr>
                <th scope="col">学年</th>
                <th scope="col">学内ID(数字のみ)</th>
                <th scope="col">役職</th>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="radio" name="grade" value="1" class="form-check-input">
                            <label class="form-check-label">1</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" name="grade" value="2" class="form-check-input">
                            <label class="form-check-label">2</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" name="grade" value="3" class="form-check-input">
                            <label class="form-check-label">3</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" name="grade" value="4" class="form-check-input">
                            <label class="form-check-label">4</label>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="number" name="schoolId">
                    </div>
                </td>
                <td>
                    <div class="form-group"> 
                        <div class="form-check">
                            <input type="radio" name="position", value="プレイヤー" class="form-check-input">
                            <label class="form-check-label">プレイヤー</label>
                        </div>
                        
                        <div class="form-check">
                            <input type="radio" name="position", value="マネージャー" class="form-check-input">
                            <label class="form-check-label">マネージャー</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" name="position", value="コーチ" class="form-check-input">
                            <label class="form-check-label">コーチ</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" name="position", value="OB" class="form-check-input">
                            <label class="form-check-label">OB</label>
                        </div>
                        
                    </div>
                </td>
            </tr>
        </table>
        <div class="form-group">
            <button type = "submit" class="btn btn-primary">登録</button>
        </div>
        
    </form>
    {% else %}
        <table class="table">
            <tr>
                <th scope="col">学年</th>
                <th scope="col">ID</th>
                <th scope="col">役職</th>
            </tr>
            <tr>
                <td>{{ contents.userDetail.grade }}</td>
                <td>{{ contents.userDetail.schoolId }}</td>
                <td>{{ contents.userDetail.position }}</td>
            </tr>
        </table>
    {% endif %}
</div>

</html>

{% endblock %}